<form action="/search" method="GET" role="search" id="searchForm">
  <div class="input-group input-group-lg">
    <input name="q" type="text" class="form-control" id="searchInput" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="Search" value="" aria-label="Search" placeholder="Search ..." value="" required="" />
    <button class="btn btn-outline-secondary" type="submit">&#x1F50E;</button>
  </div>
</form>
{% include "search/suggestions.html" %}