<form action="/search" method="GET" role="search" id="searchForm">
  <div class="input-group input-group-lg">
    <input name="as_topics" type="hidden" value="True" />
    <input name="q" type="text" class="form-control" id="searchInput" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autofocus="" autocorrect="off" role="combobox" spellcheck="false" title="Search" aria-label="Search" placeholder="Search ..." value="{{ queryString }}" required="" />
    <button class="btn btn-outline-secondary" type="submit">&#x1F50E;</button>
  </div>
</form>
<script>
  let searchInput = document.getElementById('searchInput');
  let length = searchInput.value.length;
  searchInput.setSelectionRange(length, length);
</script>
{% if False %}
{% include "search/suggestions.html" %}
{% endif %}