{% extends "index/base.html" %}

{% block title %}Imprint{% endblock %}

{% block content %}
<h1>Imprint</h1>

<h4 class="mt-4">Angaben gemäß § 5 TMG:</h4>
<p class="mb-1">Matthias Meyer</p>
<p class="mb-1">Koloniestr. 6b</p>
<p class="mb-1">13357 Berlin</p>
<p>Germany</p>


<h4 class="mt-5 mb-3">Privacy:</h4>
<h5 class="mb-3">No collection of visitor information</h5>
<p>When you visit this website, no information about the website visit is stored.</p>

<h5 class="mb-3">Cookies</h5>
<p>This website uses a technically necessary cookie to enable you to use certain features and to make your visit to this website as convenient and secure as possible.</p>
<p>A cookie is a record that is created when a website is visited and is temporarily stored on the website user's system. When the server of this website is accessed again by the user of the website, the browser of the user of the website sends the previously received cookie back to the server. The server can evaluate the information obtained through this procedure. Cookies can, in particular, facilitate navigation on a website. Cookies are necessary in particular to enable the functionality of this website operation (as a legal basis is Art. 6 para. 1 lit f DSGVO mentioned, the protection of the legitimate interests of the operator of this website).</p>
<p>If you wish to prevent the use of cookies, you can do so through local settings in your Internet browser (e.g. Internet Explorer, Mozilla Firefox, Opera or Safari). There, the setting of cookies can be generally deactivated and already stored cookies can be deleted. However, individual functions of this website may then no longer be fully usable.</p>

{% endblock %}